---
layout: archive 
author_profile: true
header:
  overlay_image: assets/image/header/header3.jpeg
excerpt: "Research"
---

<h3><h3> Representative Publications </h3>
<hr>
<p style="color:gray;">* These authors contributed equally</p>
<ul>
  <li>Daesol Cho*, Seungjae Lee*, and H. Jin Kim, “Outcome-Directed Reinforcement Learning by Uncertainty & Temporal Distance-Aware Curriculum Goal Generation,” <i>submitted to International Conference on Learning Representations</i> (ICLR)</li>
  <li>Seungjae Lee, Jongho Shin, Hyeong-Geun Kim, Daesol Cho, and H. Jin Kim, “End-to-End Missile Guidance by Imitating Classical Controller with Privileged Data,” <i>under revision for International Journal of Control, Automation, and Systems</i></li>
  <li>Seungjae Lee, Jigang Kim, Inkyu Jang, and H. Jin Kim, “DHRL: A Graph-Based Approach for Long-Horizon and Sparse Hierarchical Reinforcement Learning,” <i>Thirty-sixth Conference on Neural Information Processing Systems (NeurIPS)</i>, New Orleans, LA, United States, November 28 - December 9, 2022.</li>
  <li>Inkyu Jang, Dongjae Lee, Seungjae Lee, and H. Jin Kim, “Robust and Recursively Feasible Real-Time Trajectory Planning in Unknown Environments,” <i>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</i>, Online Prague, Czech Republic, September 27 - October 1, 2021.</li>
</ul>


{% include feature_row id="feature_row_pub" caption="Featured Publications" %}

<h3 class="archive__subtitle">Publications</h3>

{% for post in site.categories.Research %}
	{% include archive-single.html type='post' %}
{% endfor %}
