---
layout: archive 
author_profile: true
header:
  overlay_image: assets/image/header/header3.jpg
excerpt: "Research"
---

<h3><h3> Selected Publications </h3>
<hr>
<!-- <p style="color:gray;">* These authors contributed equally</p> -->
<ul>
  <li>Dongseok Shim*, <u>Seungjae Lee*</u> (*Equal contribution), and H. Jin Kim, “<a href="https://sjlee.cc/snerl">SNeRL: Semantic-aware Neural Radiance Fields for Reinforcement Learning</a>,”<i>Fortieth International Conference on Machine Learning (ICML)</i>, Honolulu, Hawaii, United States, July 23 - 29, 2023.</li>
  <li>Daesol Cho*, <u>Seungjae Lee*</u> (*Equal contribution), and H. Jin Kim, “<a href="https://sjlee.cc/outpace">Outcome-Directed Reinforcement Learning by Uncertainty & Temporal Distance-Aware Curriculum Goal Generation</a>,” <i>Eleventh International Conference on Learning Representations (ICLR)</i>, Kigali, Rwanda, May 1 - 5, 2023. <span style="color:red"> [Spotlight] </span></li>
  <li><u>Seungjae Lee</u>, Jigang Kim, Inkyu Jang, and H. Jin Kim, “<a href="https://sjlee.cc/dhrl">DHRL: A Graph-Based Approach for Long-Horizon and Sparse Hierarchical Reinforcement Learning</a>,” <i>Thirty-sixth Conference on Neural Information Processing Systems (NeurIPS)</i>, New Orleans, LA, United States, November 28 - December 9, 2022. <span style="color:red"> [Oral] </span></li>
  <li><u>Seungjae Lee</u>, Jongho Shin, Hyeong-Geun Kim, Daesol Cho, and H. Jin Kim, “End-to-End Missile Guidance by Imitating Classical Controller with Privileged Data,” <i>Accepted for International Journal of Control, Automation, and Systems.</i></li>
  <li>Inkyu Jang, Dongjae Lee, <u>Seungjae Lee</u>, and H. Jin Kim, “Robust and Recursively Feasible Real-Time Trajectory Planning in Unknown Environments,” <i>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</i>, Online Prague, Czech Republic, September 27 - October 1, 2021.</li>
</ul>

{% include feature_row id="feature_row_pub" caption="Featured Publications" %}

<h3 class="archive__subtitle">Publications</h3>

{% for post in site.categories.Research %}
	{% include archive-single.html type='post' %}
{% endfor %}
