---
layout: archive
---
<p> In Spring 2021, I joined <a href="http://larr.snu.ac.kr/" target="_blank">LARR</a> (former ICSL) in Seoul National University to pursue research in <b>Robotics</b>..</p>
<p> My research interests in robotics are <b>Hierarchical Reinforcement Learning</b>, <b>Meta Reinforcement Learning</b> and <b>Image-Based Reinforcement Learning</b> </p>
<h3><h3> Biographical Information </h3>
<hr>
<ul>
  <li>2021.02, B.S., Aerospace Engineering, Seoul Nat'l Univ., Seoul, Korea</li>
  <li>2021.03 ~ present, M.S./Ph.D. Student</li>
</ul>

<h3><h3> Representative Publications </h3>
<p>Seungjae Lee, Jigang Kim, Inkyu Jang, and H. Jin Kim*, “DHRL: A Graph-Based Approach for Long-Horizon and Sparse Hierarchical Reinforcement Learning,” Thirty-sixth Conference on Neural Information Processing Systems (NeurIPS), New Orleans, LA, United States, November 28 - December 9, 2022.</p>
<p>Inkyu Jang, Dongjae Lee, Seungjae Lee, and H. Jin Kim*, “Robust and Recursively Feasible Real-Time Trajectory Planning in Unknown Environments,” IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), Online Prague, Czech Republic, September 27 - October 1, 2021.</p>

<h3><h3> Awards and Achievement </h3>
<hr>
<h4><h4> Scholarship </h4>
<p>Hyundai Motor Chung Mong-Koo Foundation · 2021.9 - Now</p>
<h4><h4> Awards </h4>
<p>Graduated Summa Cum Laude at SNU (1st award in Department of Aerospace Engineering)</p>

<h3><h3> Professional Experience </h3>
<hr>
<h4><h4> Internship </h4>
<p>Samsung Electronics · DL Alg/DS · 2020.7 - 2020.9</p>

<h3><h3> Academic Services </h3>
<hr>
<h4><h4> Conference reviewer for </h4>
<p>International Conference on Machine Learning (ICML)</p>

{% include feature_row id="feature_row_pub" caption="Featured Publications" %}


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}" id="recent-posts">
  {% for post in posts limit:3 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<!-- {% include paginator.html %} -->
